<style>
@keyframes highlight {
    0% {
        background-color: #8f8;
    }
    100% {
        background-color: none;
    }
} 

.highlight {
    animation:highlight 1s;
}

.task-item .task-name,
.task-item .task-actions {
  display: inline-block;
  vertical-align: middle;
}
</style>

<div id="<%= dom_id task %>" class="highlight task-item" >
  <%= check_box_tag :completed, task.completed, task.completed,
    data: {id: task.id, controller: 'check', action: 'check#active'}
  %> 
  <span class="task-name"><%= task.name %></span>
  <div class="task-actions">
  <% taskid = task.id %>
  <%= link_to "delete", url_for("http://localhost:3000/task/#{taskid}/destroy"), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %> 
 </div>
 <%= link_to 'Edit Task', edit_task_path(task.id) %>
</div>
